/* General setup */

@font-face {
    font-family: 'ciclefina';
    src: url('fonts/cicle_fina-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zantrokeregular';
    src: url('fonts/zantroke-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 10px;
    margin: 0;
    font-family: sans-serif;
  }
  
  body {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Typography */
  
  h1 {
    font-size: 4rem;
  }
  
  h2 {
    font-size: 3rem;
  }

  h1, h2 {
      font-family: 'Lobster';
  }
  
  p {
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: 0.1rem;
    word-spacing: 0.6rem;
    font-family: 'Raleway';
  }